.input-form {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    box-shadow: rgb(204, 519, 132) 3px 3px 6px 0px inset, rgba(2, 80, 80, 0.5) -3px -3px 6px 1px inset;
    border-radius: 1rem;
}

.input-range {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 15vh;
}

.age--text {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
}